/* -------------------- RESET -------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 60px;
    letter-spacing: 8px;
}

p {
    font-family: "Roboto Slab", Rockwell, sans-serif;
    font-size: 40px;
    text-align: center;
    line-height: 2;
}

a {
    text-decoration: none;
    color: green;
}